*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #f5f5f5;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}
